.home {
  color: #444;
  box-shadow: 0px 0px 10px;
  h3 {
    color: $primary;
  }
  .header-row {
    position: relative;
    z-index: 5;
    .header-container {
      z-index: 5;
      background-color: $special;
      color: #fff;
    }
  }
  .body-column {
    position: relative;
    .side-container {
      background-color: $primary;
      z-index: 2;

      .information {
        max-width: 100%;
        color: #fff;
        word-break: break-all;
        ul {
          list-style-type: none;

          li {
            margin-bottom: 5px;
          }

          .hover {
            @include transition(all 0.2s);
            &:hover {
              color: #7fb2db;
              cursor: pointer;
            }
          }

          .link {
            font-size: 0.8rem;
          }
        }
      }
    }
    .content-container {
      background: $light-grey;
      ul {
        padding-left: 20px;
      }
      .year {
        font-size: 0.9rem;
        color: #777;
      }
      .list {
        font-size: 1rem;
        font-weight: 600;
        color: $special;
      }
      .credential {
        font-size: 0.9rem;
        color: $primary;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .profile-picture {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background-color: aquamarine;
      padding: 1rem;
    }
    .side-menu {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      a {
        @include transition(all 0.2s);
        color: white;
        &:hover {
          cursor: pointer;
          color: #ccc;
        }
        text-decoration: none;
      }
    }
  }
}
